/*  BUMP  */


.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* SLIDE DOWN  */


.modal{
    animation: slide-down 300ms ease-out forwards;
}



@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
      /* transform: translateX(-2rem); */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* Slide IN  */


.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}